<nav class="navbar navbar-expand-md bg-warning navbar-light fixed-top">
    <a class="navbar-brand" href="#">Fix My City</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in">sign-in</a>
        </li>
  
      </ul>
    </div>
  </nav>