<!-- 
<div class="container">
<div class="displayTable">
  <div class="displayTableCell">

   <div class="displayTable">
     <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
  

        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
  

        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
  
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Don't have an account?<span type="button" class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
  
    </div>
  </div>
</div> -->

<div class="card">
  <article class="card-body">
    <h3 class="card-title text-center mb-4 mt-1">Sign In</h3>
    <form>
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
      <input class="form-control" placeholder="Username" type="text"#userName required>
    </div> 
    </div> 
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
       </div>
        <input class="form-control" placeholder="Password" type="password" #userPassword required>
    </div> 
    </div> 

    <!-- Calling SignIn Api from AuthService -->
    <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" (click)="authService.SignIn(userName.value, userPassword.value)"> Login  </button>
    </div> 
    <h4 class="card-title text-center mb-4 mt-1">Or</h4>

    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="text-center">
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </div>

    <p class="text-center"><a class="btn" routerLink="/forgot-password">Forgot Password?</a></p>
    <div class="text-center">
      <span>Don't have an account?<a type="button" class="redirect" routerLink="/register-user"> Sign Up</a></span>
    </div>
    </form>
  </article>
  </div>
  